#
# u-boot-socfpga-2022.04
#
# Error : spl/u-boot-spl.bin exceeds file size limit
# - Remove SPI driver to reduce the spl file size, only supprot sdcard driver.
# - Add bootcmd to load u-boot from sdcard.
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run fatscript;bridge enable; run distro_bootcmd"
CONFIG_SPL_SPI_LOAD=n
CONFIG_SPL_DM_SPI=n
CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_SPI_FLASH_SUPPORT=n
CONFIG_SPL_SPI=n
CONFIG_NET_RANDOM_ETHADDR=y

#
# u-boot-socfpga-2026.01
#
# Error: drivers/ddr/altera/sdram_soc32.c:55:25: error: implicit declaration of function.  
# CONFIG_WATCHDOG=y

# Warning: WARNING: unmet direct dependencies detected for DESIGNWARE_WATCHDOG.
# CONFIG_WDT=y

# Error: stopped at boot from MMC1 
# - U-Boot SPL 2026.01-g6e59447316d0 (Mar 27 2026 - 03:13:02 +0000)
# - Trying to boot from MMC1
# CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_SECTOR=y
# CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x200
# CONFIG_SYS_MMCSD_FS_BOOT=n